<div class="text-center mb10">
  <h1>All Items</h1>
  <%= link_to 'itemを追加する', new_item_path %>
</div>

<% @items.each do |item| %>
  <div class="item">
    <%= link_to '変更する', edit_item_path(item), class: "btn btn-default btn-block btn-xs mb5" %>
    <table class="table-style">
      <tr>
        <th>品番</th>
        <td><%= item.number %></td>
      </tr>

      <tr>
        <th>品名</th>
        <td><%= item.name %></td>
      </tr>

      <tr>
        <th>カラー</th>
        <td>
          <%= item.color_1 %>
          <%= item.color_2 %>
          <%= item.color_3 %>
          <%= item.color_4 %>
        </td>
      </tr>

      <tr>
        <th>サイズ</th>
        <td>
          <%= item.size_1 %>
          <%= item.size_2 %>
          <%= item.size_3 %>
          <%= item.size_4 %>
        </td>
      </tr>

      <tr>
        <th>上代</th>
        <td><%= item.price %></td>
      </tr>
    </table> 
  </div>
  
<% end %>
